body{
   font-family: 'Montserrat', sans-serif;
   margin: 0;

}
.banner-section{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.16), rgb(0, 0, 0)), url(donation3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    


    
}
h1{
    font-size: 50px;
}


p{
    font-size: 20px;
}
    

.link-button{
    text-decoration: none;
    background-color: tomato;
    padding:10px 40px;
    color: white;
    border-radius: 5px;
    position: center;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 44%;
}
.banner-paragraph{
    color: white;
    padding-bottom: 20px;
    text-align: center;
    padding-left:350px ;
    padding-right: 350px;
}
.banner-heading{
    text-align: center;
    color: white;
    padding-left: 350px;
    padding-right: 350px;
    

}
.col-md-4 {
    float: left;
    padding: 50px;
    background-color: #FAFAFA;
    margin: 15px;
    border-radius: 7px;
}
        .row {
    margin: 0px 100px 50px 15%;
    float: left;
}
.row-2 {
    margin: 0px 0px 50px 3%;
    float: left;
}
.count {
    font-size: 26px;
    color: #666;
}
.active{
    float: left;
    padding: 50px;
    background-color: #FFE2DC;
    margin: 15px;
    border-radius: 7px;
    border: solid 3px #FF6347;

}
.active-p{
    color: #FF6347;
}
.col-md-12 {
    float: left;
    margin: 47px 145px 50px 0px;
    padding: 0px;
    border-bottom: solid 2px #DADADA;
    width: 1053px;
}
.total{
    color: #666;
    font-weight: 300;
    text-align: center;
 
}
.button {
    float: left;
    margin-left: 41%;
    background: #FF635D;
    border: navajowhite;
    padding: 11px;
    font-size: 23px;
    border-radius: 7px;
    color: #fff;
}
.c-1 {
    float: left;
    width: 357px;
    margin: 20px;
    background-color: #e8ab92;
    padding: 40px;
}
.title1{
    color: black;
}
.p-1 {
    font-size: 17px;
    line-height: 25.5px;
    font-family: sans-serif;
    color: black;
}
.c-2 {
    float: left;
    width: 357px;
    margin: 20px;
    background-color: #f5d3ab;
    padding: 40px;
    color: #fff;
}
.title2{
    color: black;
}
.p-2 {
    font-size: 17px;
    line-height: 25.5px;
    font-family: sans-serif;
    color: black;
}
.p-3 {
    font-size: 17px;
    line-height: 25.5px;
    font-family: sans-serif;
    color: black;
}
.c-3 {
    float: left;
    width: 357px;
    margin: 20px;
    background-color: #e8ab92;
    padding: 40px;
    color: #fff;
}
